# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform crash logs
crash.log
*.crash.log

# Ignore Terraform variable files that may contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files, which are not intended to be versioned
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore the .terraform directory, where Terraform modules and plugins are stored
.terraform/
.terraform.lock.hcl

# Ignore Terraform plan output files
*.tfplan

# Ignore CLI configuration files
.terraformrc
terraform.rc
.terraform-version